src/wsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:kopr="http://localhost:8888/ajs?wsdl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="wsdl" targetNamespace="http://localhost:8888/ajs?wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:koprxsd="urn:X-kopr">
    <wsdl:types>	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="urn:X-kopr" xmlns:tns="urn:X-kopr"
			elementFormDefault="qualified">

			<xsd:element name="PridajStudentRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Name" type="xsd:string"></xsd:element>
						<xsd:element name="Surname" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="PridajStudentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="StudentUUID" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>
    <wsdl:message name="pridatUcastnikaRequest">
    	<wsdl:part name="parameters" element="koprxsd:PridajStudentRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="pridatUcastnikaResponse">
    	<wsdl:part name="parameters" element="koprxsd:PridajStudentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AjsPort">
    	<wsdl:operation name="pridatUcastnika">
    		<wsdl:input message="kopr:pridatUcastnikaRequest"></wsdl:input>
    		<wsdl:output message="kopr:pridatUcastnikaResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AjsPortBinding" type="kopr:AjsPort">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<wsdl:operation name="pridatUcastnika">
    		<soap:operation
    			soapAction="http://localhost:8888/ajs?wsdl/pridatUcastnika" />
    		<wsdl:input>
    			<soap:body use="literal" />
    		</wsdl:input>
    		<wsdl:output>
    			<soap:body use="literal" />
    		</wsdl:output>
    	</wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AjsService">
		<wsdl:port name="AjsPort" binding="kopr:AjsPortBinding">
			<soap:address location="http://localhost:8888/ajs?wsdl" />
		</wsdl:port>
	</wsdl:service></wsdl:definitions>
